@model Vidly.Models.Movie

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>

<div>
    <hr />
    <ul>
        <li>Genre: @Model.Genre.Name</li>
        <li>Release Date: @Model.ReleaseDate.ToLongDateString()</li>
        <li>Date Added: @Model.DateAdded.ToLongDateString()</li>
        <li>Stocks: @Model.NoOfStocks</li>
    </ul>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
